.contact-container {
  display: flex;
}

.contact-book-service {
  background-color: #191c26;
  width: 55%;
}

.contacts {
  width: 45%;
  --price-list-bg-color: rgba(25, 28, 38, 0.9);
  background-image: linear-gradient(
      var(--price-list-bg-color),
      var(--price-list-bg-color)
    ),
    url("../images/contacts.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white-color);
  height: 644px;
  padding: 130px 100px;
}

.contacts-header {
  margin-bottom: 30px;
}

.contact-address {
  display: flex;
  align-items: center;
  color: #9da4bd;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
  letter-spacing: 0.36px;
}

.contact-address-mail {
  text-decoration: underline;
}

.contact-icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.contact-working-hours {
  color: var(--white-color);
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.working-hours-section {
  margin-top: 70px;
}

.working-hours {
  color: #9da4bd;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
  letter-spacing: 0.36px;
}
